@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    /* --secondary: 0 0% 96.1%; */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --c1-100: 171 77% 95%;
    --c1-200: 172 80% 45%;
    --c1-300: 158 82% 41%;

    --c2-100: 217 100% 93%;
    --c2-300: 217 81% 40%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --c1-100: 171 77% 95%;
    --c1-200: 172 80% 45%;
    --c1-300: 158 82% 41%;

    --c2-100: 217 100% 93%;
    --c2-300: 217 81% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body,
#root {
  height: 100%;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-naver {
  background-color: #03c75a;
}

.text-naver {
  color: #03c75a;
}

.bg-kakao {
  background-color: #fee500;
}

.text-kakao {
  color: #181600;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Toss-Face-Font-Mac";
  font-weight: normal;
  src: url("/fonts/TossFaceFontMac.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansKr";
  font-weight: normal;
  src: url("/fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}

.noto_sans {
  font-family: "NotoSanskr";
}

/* Chrome, Whale, Edge */

/* ::-webkit-scrollbar {
  width: 8px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(228 228 231);
} */

@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.loop {
  animation: loop 180s linear infinite;
}
